.novo-container {
  background: #000;
  min-height: 100vh;
  padding: 40px;
  color: white;
}

.titulo {
  font-size: 48px;
  font-weight: 800;
  margin-bottom: 30px;
}

.form-card {
  background: #1a1a1a;
  padding: 35px;
  border-radius: 30px;
  max-width: 700px;
}

.subtitulo {
  margin-top: 25px;
  font-size: 28px;
  font-weight: bold;
}

.input {
  width: 100%;
  padding: 12px 16px;
  margin-top: 6px;
  margin-bottom: 18px;
  border-radius: 12px;
  border: none;
  background: #2c2c2c;
  color: white;
  font-size: 18px;
}

.white-btn {
  background: white;
  color: black;
  padding: 12px 36px;
  border-radius: 40px;
  font-size: 20px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: 0.2s;
}

.white-btn:hover {
  transform: scale(1.05);
}

.salvar-btn {
  margin-top: 20px;
}
